<div class="demo-container" mdl-shadow="2">
  <mdl-layout mdl-layout-fixed-header mdl-layout-fixed-drawer>
    <mdl-layout-header>
      <mdl-layout-header-row>
        <mdl-layout-title>Admin Panel v2</mdl-layout-title>
        <mdl-layout-spacer></mdl-layout-spacer>
        <nav class="mdl-navigation mdl-layout--large-screen-only">
          <a class="mdl-navigation__link" >English</a>
          <a class="mdl-navigation__link" >Sign Out</a>
        </nav>
      </mdl-layout-header-row>
    </mdl-layout-header>
    <mdl-layout-drawer>
      <mdl-layout-title>Pearson</mdl-layout-title>
      <nav class="mdl-navigation">
        <a routerLink="/profile" routerLinkActive="active" class="mdl-navigation__link" >Profile</a>
        <a routerLink="/schools" routerLinkActive="active" class="mdl-navigation__link" >Schools</a>
      </nav>
    </mdl-layout-drawer>
    <mdl-layout-content>
      <div class="main">
        <router-outlet></router-outlet>
      </div>
    </mdl-layout-content>
  </mdl-layout>
</div>
