Material Design Lite components:
<button mdl-button mdl-button-type="raised">
  Button
</button>

<mdl-textfield type="text" [(ngModel)]="theText" icon="bug_report"></mdl-textfield>

<ul class="topnav" #topnav>
  <li><a routerLink="/profile" routerLinkActive="active">Profile</a></li>
  <li><a routerLink="/schools" routerLinkActive="active">Schools</a></li>
  <li><a routerLink="/smart-table" routerLinkActive="active">Smart Table</a></li>
</ul>

<div class="main">
  <router-outlet></router-outlet>
</div>
